.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: white;
  padding-top: 150px;
  padding-bottom: 75px;

  &__heading {
    margin: 0 auto;
    padding-top: 25px;
    text-transform: uppercase;
    margin-left: 105px;
    font-weight: 500;
    letter-spacing: 0.06em;
    font-size: 16px;
    line-height: 22.5px;
    color: #22356f;
  }

  &__text {
    max-width: 550px;
    margin-bottom: 50px;
    padding: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #22356f;

    &__after {
      color: #9099b6;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 900px) {
  .about {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 20px;

    &__heading {
      margin-bottom: 20px;
      margin-top: 30px;
      
    }
  }
}
