.activities {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 480px;
  background-color: #62d0df;

  &__block {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding-top: 95px;
  }

  &__text {
    position: relative;
    padding-top: 50px;
    font-size: 32px;
    font-weight: 700;
    line-height: 34px;
    color: white;
    width: 220px;
    text-align: center;
    margin-top: 20px;

    
    &::before {
      display: block;
      position: absolute;
      content: "";
      background-color: #e9b730;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      left: -15%;
      top: 15%;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      background-color: white;
      height: 1px;
      width: 250px;
      top: 10%;
    }
  }

  &__block--physical-health {
    background-color: #22356f;
  }

  &__block--mental-health {
    background-color: #0052c1;
  }

  &__block--nutrition {
    background: url("../images/joanna-kosinska-340748.jpg")no-repeat;
    background-size: cover;
  }

  &__block--gymnastics {
    background-color: #62d0df;
  }

  &__block--crossfit {
    background-color: #dee1ff;
  }

  &__block--aerobics {
    background-color: #8f00ff;
  }

  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 400px;
    &__block {
      &__img {
        width: 100%;
      }
    }
    &__text {
      &::before {
        left: -10%;
        top: 20%;
      }
      &::after {
        width: 220px;
      }
    }
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    grid-auto-rows: 300px;

    &__block {
      padding-left: 20px;
    }

    &__text {
      font-size: 24px;
      &::before {
        top: 30%;
        left: -5%;
      }
    }
  }
}
