.header {
  height: 840px;
  background-color: #f4f9e2;
  overflow: hidden;
  position: relative;
  padding-left: 180px;
  
  &__menu {
    display: none;
  }

  &__top {
    display: flex;
    position: absolute;
    justify-content: space-between;
    top: 27px;
    left: 170px;
    right: 170px;
  }

  &__logo {
    font-size: 24px;
    line-height: 26.7px;
    color: #62d0df;
    letter-spacing: -0.04em;
    font-weight: 700;

    &--up {
      margin-left: 9px;
    }

    &--down {
      margin-bottom: 40px;
    }
  }

  &__button {
    padding: 20px 25px;
    background-color: #62d0df;
    width: 150px;
    height: 50px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 50px;
    line-height: 14px;
    z-index: 2;
    outline: none;
    transition: all 500ms;

    &:hover {
      background-color: white;
      border: 1px solid #62d0df;
      color: #62d0df;
    }
  }

  &__button-link {
    text-decoration: none;
    padding: 16px 0;
    color: white;

    &:hover {
      color: #62d0df;
    }
  }

  &__image {
    position: absolute;
    width: 900px;
    height: 600px;
    object-fit: contain;
    transform: rotate(35deg);
    object-position: left;
  }

  &__wrapper {
    position: absolute;
    border-radius: 312px;
    width: 670px;
    height: 460px;
    transform: rotate(-35deg);
    z-index: 1;
    overflow: hidden;
    right: -30px;
    top: 17%;
  }

  &__decoration {
    position: absolute;
    width: 565px;
    height: 880px;
    background-color: #edfdff;
    border-radius: 312px;
    right: 0;
    top: -40px;
    transform: rotate(30deg);
    z-index: 0;
  }

  @media screen and (max-width: 1200px) {
    &__image {
      display: none;
    }
  }

  @media screen and (max-width: 900px) {
    height: 640px;
    padding-left: 50%;
  
    &__top {
      left: 40px;
      right: 40px;
    }
  
    &__description {
      margin-top: 50px;
    }
  }

  @media screen and (max-width: 700px) {
    &__top {
      display: none;
    }
  }
}
