.menu {
  &__toggle {
    opacity: 0;
  }
  &__btn {
    display: flex;
    align-items: center;
    position: relative;
    top: 20px;
    left: -75%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 6;
  }
  
  &__btn-span,
  &__btn-span::before,
  &__btn-span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #22356f;
    transition-duration: 0.25s;
  }
  &__btn-span::before {
    content: "";
    top: -8px;
  }

  &__btn-span::after {
    content: "";
    top: 8px;
  }

  &__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 75%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #f4f9e2;
    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
    z-index: 5;
    transition-duration: 0.25s;
    opacity: 0.9;
  }

  &__item {
    display: block;
    padding: 20px 24px;
    color: #22356f;
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    transition-duration: 0.25s;

    &:hover {
      background-color: white;
    }
  }

  @media screen and (max-width: 700px) {
    display: block;
  }
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
