.useful {
  background-color: white;
  display: flex;
  justify-content: space-between;

  &__img {
    object-fit: contain;
  }

  &__message {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    // padding-right: 100px;
    // padding-left: 50px;
    margin: 0 auto;
  }

  &__heading {
    font-size: 16px;
    line-height: 12px;
    color: #22356f;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 225px;
    padding-top: 100px;
  }

  &__text {
    color: #22356f;
    font-size: 36px;
    line-height: 53px;
    letter-spacing: -0.01em;
    font-weight: 700;
  }

  &__logo {
    color: #62d0df;
  }

  &__after {
    color: #fab63e;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-top: 150px;
    font-weight: 700;
  }
}
