$c-gray: #eee;
$light-color: #fff;
$dark-color: #22356f;
$accent-color: #62d0df;
$bright-color: #e9b730;
$main-color: #f4f9e2;
$decoration-color:#edfdff;
$semi-dark-color: #9099b6;
$accent-color-blue: #0052c1;
$block-color-light: #dee1ff;
$block-color-dark: #8f00ff;
$block-color-jentle: #ffe2de;
$block-color-active:#c4e769;
$font-weight-bold: 700;
$font-weight-regular: 500;
$ipad-pro-screen-breakpoint: 1024px;
$small-screen-breakpoint: 900px;
$tablet-screen-breakpoint: 700px;
$mobile-screen-breakpoint: 600px;
